/*-------------------------------------
FLEXBOX
-----------------------------------------*/
main{
	display: flex;
	article{
		flex: 2;
	}
	aside{
		flex: 1;
	}
}
 ul.hero{
 	width: 100%;
 	height: 200px;
 	margin: 0;
 	padding: 0;
 	background-color: #ccc;
 	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
 	li{
 		width: 100px;
 		height: 100px;
 		background-color: red;
 		border-radius: 20px;
 		color: white;
 		&:nth-child(2){
 			height: auto;
 			align-self: stretch;
 		}
 	}
 }





/*-------------------------------------
Global Styles
-----------------------------------------*/





