/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
@import url("http://fonts.googleapis.com/css?family=Cookie");
/* line 5, _reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 26, _reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, _reset.scss */
body {
  line-height: 1;
}

/* line 33, _reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, _reset.scss */
blockquote, q {
  quotes: none;
}

/* line 39, _reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, _reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 48, _reset.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
  /*height: 10px;*/
  background-color: red;
  clear: both;
}

/* line 56, _reset.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, _extras.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
  /*height: 10px;*/
  background-color: red;
  clear: both;
}

/* line 12, style.scss */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 100%;
  background-color: #eaeaea;
}

/* line 19, style.scss */
header {
  background-color: #c0e6fc;
  overflow: hidden;
}
/* line 22, style.scss */
header img {
  width: 250px;
  margin: 10px auto;
  display: block;
  background-color: white;
  padding: 10px;
  border-radius: 3px;
}
/* line 33, style.scss */
header li {
  display: inline-block;
  width: 25%;
  padding: 20px 10px;
  float: left;
  text-align: center;
}
/* line 39, style.scss */
header li a {
  text-decoration: none;
  color: #5ebff7;
  -webkit-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out;
}
/* line 43, style.scss */
header li a:hover {
  color: #0b95e5;
}

/* line 49, style.scss */
#hero {
  height: 200px;
  background-image: url("../img/sky.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

/* line 55, style.scss */
main {
  position: relative;
}
/* line 57, style.scss */
main img {
  width: 25%;
  border-radius: 50%;
  border: 10px solid #bbb;
  -webkit-box-shadow: 0 0 0 2px #888;
  box-shadow: 0 0 0 2px #888;
  position: absolute;
  left: 15%;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  /*z-index: 1; places the avatar in front of the page*/
}
/* line 65, style.scss */
main img:hover {
  left: 5%;
  border-width: 20px;
  -webkit-box-shadow: 0 0 10px 5px #888;
  box-shadow: 0 0 10px 5px #888;
  z-index: 1;
}
/* line 73, style.scss */
main article {
  width: 75%;
  float: right;
  background-color: white;
  padding: 0 30px 40px;
  position: relative;
  margin-bottom: 40px;
}
/* line 80, style.scss */
main article:before {
  content: " ";
  display: block;
  width: 100%;
  height: 100px;
  background-color: white;
  position: absolute;
  left: 0;
  top: -100px;
  background-image: url("../img/mail.png");
  background-repeat: repeat-x;
}
/* line 93, style.scss */
main h1 {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: left;
  -webkit-transition: font-size 150ms ease-out;
  transition: font-size 150ms ease-out;
}
/* line 98, style.scss */
main h1:hover {
  font-size: 70px;
}
/* line 102, style.scss */
main p {
  font-size: 20px;
  margin-bottom: 10px;
}
/* line 106, style.scss */
main h2 {
  font-size: 30px;
  text-align: right;
  font-family: 'Cookie', cursive;
}
/* line 110, style.scss */
main h2:before {
  content: "- ";
}

/* line 116, style.scss */
footer {
  background-color: #303030;
  padding: 40px 0;
  color: white;
}

/* line 134, style.scss */
.button-style, a {
  font-family: garamond, "Times New Roman", serif;
  font-size: 18px;
  line-height: 36px;
  border: 1px solid #d98c93;
}

/* line 141, style.scss */
li {
  font-family: garamond, "Times New Roman", serif;
  font-size: 18px;
  line-height: 36px;
  border: 1px solid #d98c93;
}

/* line 152, style.scss */
a {
  display: block;
  width: 100px;
  background-color: #40bfb5;
  color: white;
  text-decoration: none;
  border-radius: 18px;
  text-align: center;
  text-shadow: 1px 1px 2px #bf404a;
}
