@import "reset";

@import url("http://fonts.googleapis.com/css?family=Cookie");

@import "extras";

$var: hsl(202, 91%, 87%);

html{
	
}
body{
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 100%;
	background-color: #eaeaea;

}

header{
	background-color: $var;
	overflow: hidden;
	img{
		width: 250px;
		margin: 10px auto;
		display: block;
		background-color: white;
		padding: 10px;
		border-radius: 3px;
	}
	ul{

	}
	li{
		display: inline-block;
		width: 25%;
		padding: 20px 10px;
		float: left;
		text-align: center;
		a{
			text-decoration: none;
			color: darken($var, 20%);
			transition: color 500ms ease-in-out;
			&:hover{
				color: darken($var, 40%);
			}
		}
	}
}
#hero{
	height: 200px;
	background-image: url("../img/sky.jpg");
	background-size: cover;
	background-attachment: fixed;
}
main{
	position: relative;
	img{
		width: 25%;
		border-radius: 50%;
		border: 10px solid #bbb;
		box-shadow: 0 0 0 2px #888;
		position: absolute;
		left: 15%;
		transition: all 500ms ease-in-out;
		&:hover{
			left: 5%;
			border-width: 20px;
			box-shadow: 0 0 10px 5px #888;
			z-index: 1;
		}
		/*z-index: 1; places the avatar in front of the page*/
	}
	article{
		width: 75%;
		float: right;
		background-color: white;
		padding: 0 30px 40px;
		position: relative;
		margin-bottom: 40px;
		&:before{
			content: " ";
			display: block;
			width: 100%;
			height: 100px;
			background-color: white;
			position: absolute;
			left: 0;
			top: -100px;
			background-image: url("../img/mail.png");
			background-repeat: repeat-x;
		}
	}
	h1{
		font-size: 40px;
		margin-bottom: 20px;
		text-align: left;
		transition: font-size 150ms ease-out;
		&:hover{
			font-size: 70px;
		}
	}
	p{
		font-size: 20px;
		margin-bottom: 10px;
	}
	h2{
		font-size: 30px;
		text-align: right;
		font-family: 'Cookie', cursive;
		&:before{
			content: "- ";

		}
	}
}
footer{
	background-color: #303030;
	padding: 40px 0;
	color: white;
}







$myfont: garamond, "Times New Roman", serif;
$fontsize: 18px;
$bgcolor: hsla(175, 50%, 50%, 1);
$bgcomp: complement($bgcolor);


@function superdark($color){
	$dark: darken($color, 20%);
	@return $dark;
}

.button-style{
	font-family: $myfont;
	font-size: $fontsize;
	line-height: $fontsize * 2;
	border: 1px solid lighten($bgcomp, 20%);
}

%button-style{
	font-family: $myfont;
	font-size: $fontsize;
	line-height: $fontsize * 2;
	border: 1px solid $superdark(green;
}

@mixin border-radius($radius){
	border-radius: $radius;
}


a{
	@extend .button-style;
	display: block;
	width: 100px;
	background-color: $bgcolor;
	color: white;
	text-decoration: none;
	//border-radius: 5px;
	@include border-radius($fontsize);
	text-align: center;
	text-shadow: 1px 1px 2px $bgcomp;
}
li{
	@extend %button-style;
}













