/* line 1, style.scss */
body {
  /*background-image: url('../img/imgbg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;*/
}

/* line 10, style.scss */
nav {
  background-color: rgba(139, 203, 185, 0.75);
}

/* line 16, style.scss */
li {
  display: inline-block;
  float: left;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

/* line 25, style.scss */
header {
  height: 598px;
  background-image: url("../img/imgbg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 32, style.scss */
.row {
  margin-right: 0px;
  margin-left: 0px;
}

/* line 37, style.scss */
.about {
  background-image: url("../img/bg3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  height: 500px;
}
/* line 44, style.scss */
.about img {
  height: 50%;
  width: 50%;
}
